.btn, #submit
	font-family: "Helvetica Neue", "Calibri Light", Roboto, sans-serif
	background: $blue
	border: 0
	color: white	
	padding: 10px 20px 10px
	font-weight: 300

	&:hover
		background-color: $grey

.fonts-loaded .btn,
.fonts-loaded #submit
	font-family: "Ubuntu", "Helvetica Neue", "Calibri Light", Roboto, sans-serif