.comments
	margin-top: 30px
	margin-bottom: 50px

	h2
		text-align: center
		font-size: 2rem

.comments-list
	list-style: none
	padding: 0

	li
		margin-bottom: 100px


.comment-gravatar
	float: left
	width: 15%
	max-width: 120px
	padding-right: 20px
	margin-top: 10px

	@media(max-width: 500px)
		padding-right: 8px	

.comment-author	
	font-size: 1.4em

.comment-content
	float: left
	width: 85%
	word-wrap: break-word

.comment-date
	color: #ADADAD

.comment-body
	word-wrap: break-word

.pingback
	background: #f1f1f1

	p
		padding: 10px 30px


.comment-respond

	h3
		text-align: center
		font-size: 2rem

	label
		font-weight: bold		

	textarea
		display: block
		width: 100%
		height: 200px
		font-family: inherit
		font-size: inherit

	.input-field
		max-width: 500px
		display: block
		font-family: inherit
		font-size: inherit

	#subscribe-reloaded
		width: 25px
		height: 25px
		margin-right: 10px
		position: relative
		top: 5px

.exclamation
	position: relative
	margin: 50px 0 0 35px

	&:before
		display: block
		content: "!"
		font-size: 80px
		position: absolute
		left: -35px
		top: -35px
		color: $red
		font-weight: bold
