.comments
	margin-top: 30px
	margin-bottom: 50px

	h2
		text-align: center
		font-size: 2rem

.comments-list
	list-style: none
	padding: 0

	li
		margin-bottom: 100px


.comment-gravatar
	float: left
	width: 15%
	max-width: 120px
	padding-right: 20px
	margin-top: 10px

	@media(max-width: 500px)
		padding-right: 8px	

.comment-author	
	font-size: 1.4em

.comment-content
	float: left
	width: 85%
	word-wrap: break-word

.comment-date
	color: #ADADAD

.comment-body
	word-wrap: break-word
