---
layout: default
style: single
---

{% assign product_id = page.wordpress_id | default: page.id %}
{% assign year_str = page.date | date: '%Y' %}

<article class="post-content wrap" aria-labelledby="page-heading">
  <h1 id="page-heading" class="article-headline">{{ page.title }}</h1>
  {{ content }}

  {% include datalayer_product.html
    page_type="page"
    product_id=product_id
    product_name=page.title
    brand=year_str
    year=year_str
    category="page"
    content=content
  %}
</article>
