---
layout: default
style: single
---

{% assign slug = page.slug | default: page.url | split: '/' | last | replace: '/','' %}
{% assign category_display = page.categories | join: ', ' %}
{% assign product_id = page.wordpress_id | default: page.id %}

<article aria-labelledby="post-heading">
  <header class="post-header wrap">
    <h1 id="post-heading" class="post-headline">{{ page.title }}</h1>
    <div class="post-date">{% include date-da.html date=page.date %}</div>
  </header>
  <div class="post-content wrap">
    {{ content }}
  </div>
</article>

{% assign year_str = page.date | date: '%Y' %}
{% include datalayer_product.html
  page_type="single"
  product_id=product_id
  product_name=page.title
  brand=year_str
  year=year_str
  category=category_display
  content=content
%}

<div class="comments wrap" id="comments" aria-label="Kommentarer">
  {% if site.data.comments[slug] and site.data.comments[slug] != empty %}
  <h2 id="comments-title" class="paragraph-headline">
    {% assign count = site.data.comments[slug] | size %}
    {% if count == 1 %}1 kommentar{% else %}{{ count }} kommentarer{% endif %}
  </h2>
  <ol class="comments-list">
    {% for c in site.data.comments[slug] %}
    <li class="comment" id="comment-{{ forloop.index }}">
      <div class="comment-gravatar">
        <img src="{{ c.avatar_url | default: 'https://www.gravatar.com/avatar/?d=mp' }}" width="100" height="100" class="lazyload-gravatar" alt="">
      </div>
      <div class="comment-content">
        <div class="comment-author">
          {% if c.author_url and c.author_url != '' and c.author_url != 'http://' %}
            <a {% unless c.author_url contains 'jacobworsoe.dk' %}rel="nofollow"{% endunless %} href="{{ c.author_url | html_unescape | escape }}">{{ c.author | html_unescape | escape }}</a>
          {% else %}
            {{ c.author | html_unescape | escape }}
          {% endif %}
        </div>
        <div class="comment-date">{{ c.date }}</div>
        <div class="comment-body">{{ c.content }}</div>
      </div>
      <div class="clear"></div>
    </li>
    {% endfor %}
  </ol>
  {% endif %}
</div>
